@mixin font-sensations_and_qualitiesRg{
    font-family: 'sensations_and_qualitiesRg';
    font-weight: normal;
}
@mixin font-Montserrat-Regular{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}