@font-face {
    font-family: 'sensations_and_qualitiesRg';
    src: url('../fonts/sensations-and-qualities.eot');
    src: url('../fonts/sensations-and-qualities.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sensations-and-qualities.woff2') format('woff2'),
         url('../fonts/sensations-and-qualities.woff') format('woff'),
         url('../fonts/sensations-and-qualities.ttf') format('truetype'),
         url('../fonts/sensations-and-qualities.svg#sensations_and_qualitiesRg') format('svg');
    font-weight: normal;
    font-style: normal;
}